<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="notifications">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Zgłoszenia</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user-management" *ngIf="loggedUser.role === 'Administrator'">
      <ion-icon name="people"></ion-icon>
      <ion-label>Zarządzanie</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="statistics">
      <ion-icon name="stats"></ion-icon>
      <ion-label>Statystyki</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
