<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Szczegóły zgłoszenia {{ issue.id_i}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/logged/notifications"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf = "issue.state !== 'Rozwiązane'">
    <ion-card>
      <ion-toolbar>
        <ion-buttons slot="start">
           Priorytet:
           <ion-button (click)="changePriority('up')">
             <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
           </ion-button>
           <ion-button (click)="changePriority('down')">
            <ion-icon slot="icon-only" name="arrow-down"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          Status:
          <ion-button (click)="changeState()">
            <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-buttons>
       </ion-toolbar>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Priorytet: {{ issue.priority }}</ion-card-subtitle>
        <ion-card-title>Status: {{ issue.state }}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <p>
          Opis:
          <br>
          {{ issue.descr }}{{ issue.descr }}{{ issue.descr }}
        </p>
        <br>
        <p *ngIf="connectedDevices.length > 0">
          Powiązania:
        </p>
      </ion-card-content>

      <ngx-datatable
      *ngIf="connectedDevices.length > 0"
      class="material" 
      [columnMode]="columnMode.force"
      [columns]="columns" 
      [rows]="connectedDevices"
      headerHeight="50"
      footerHeight="50"
      rowHeight="50"
      >
    </ngx-datatable>
    </ion-card>
    
  </div>

</ion-content>
